@import "~styles.scss";

.task {
  &__container {
    padding: 10px;
    

    &--loaded {
      background: $container-background-color;
    }

    &--unloaded {
      background: $unfocused-background-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  &__title {
    width: 25%;
    background: $title-background-color;
    color: white;
    border-radius: 3px;
    @include center;
  }

  &__error {
    @include center;
    color: red;
  }

  &__controls {
    margin: auto;
    text-align: center;
    width: 25%;
  }
}

