<div id="task" class="task__container">
    <div class="task__container--unloaded" *ngIf="(taskState$ | async)?.loading">
        loading ...
    </div>

    <div *ngIf="!(taskState$ | async)?.loading" class="task__container--loaded">
        <div class="task__title">
            {{(taskState$ | async)?.taskListTitle}}
        </div>

        <task-list [tasks]="(taskState$ | async)?.tasks" (toggle)="toggle($event)"></task-list>

        <div class="task__error" *ngIf="(taskState$ | async)?.error">
            {{(taskState$ | async)?.error}}
        </div>

        <div class="task__controls">
            <add-task (add)="addTask($event)"></add-task>
        </div>
    </div>

</div>
